.container {
  padding-top: 15vh;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
}

.title {
  color: #333;
  font-size: 2em;
}

.price {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}
.desc {
  max-width: 500px;
}

.sizeOptions {
  font-weight: bold;
}

.sizes {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.options {
  display: flex;
  margin-bottom: 30px;
}

.option {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.quantity {
  width: 50px;
  height: 30px;
}

.button {
  background-color: blue;
  color: #eee;
  border-radius: 5px;
  padding: 4px 10px;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 20px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .container {
    height: auto;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .imgContainer {
    width: 70vw;
    height: 70vw;
  }

  .title {
    margin: 5px;
  }

  .sizes {
    width: 100%;
    padding: 0px 20px;
  }

  .ingredients {
    flex-direction: column;
  }

  .option {
    margin: 10px;
    font-size: 18px;
  }

  .checkbox {
    width: 25px;
    height: 25px;
  }

  .quantity,
  .button {
    height: 50px;
    padding: 10px 20px;
  }
}
